.subtitle {
  font-family: var(--secondary-font);
  margin: 1em 2em;
  font-size: 2.2em;
  color: white;
}

.quizzes_section {
  border: 2px solid magenta;
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;

  .quizzes_cards {
    background-color: var(--primary-color);
    border: 2px solid red;
    border-radius: 2em;
    max-width: 22vw;
    min-height: 40vh;
    padding: 2em;

    .quizz_title {
      font-size: 1.7em;
      font-family: var(--secondary-font);
      text-align: center;
      text-transform: uppercase;
    }

    p {
      font-family: var(--secondary-font);
      line-height: 1.5;
      font-size: 1.2em;
    }

    .illustration {
      width: 80%;
    }
  }
}