.subtitle {
  font-family: var(--secondary-font);
  margin: 1em 2em;
  font-size: 2.2em;
  color: white;
}

.quizzes_section {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;

  .quizzes_cards {
    background-color: var(--primary-color);
    border: 8px solid white;
    border-radius: 2em;
    max-width: 22vw;
    min-height: 40vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .quizz_title {
      font-size: 1.7em;
      font-family: var(--secondary-font);
      text-align: center;
      text-transform: uppercase;
    }

    p {
      font-family: var(--secondary-font);
      line-height: 1.5;
      font-size: 1.2em;
    }

    .illustration {
      width: 100%;
    }

    .start_btn {

      button {
        font-size: 16px;
        font-weight: 700;
        border: none;
        border-radius: 20px;
        width: 10.5rem;
        height: 3rem;
        cursor: pointer;
        background-color: #0a0a79;
        color: white;
      }

      button:hover {
        background-color: #2e2bfc;
      }
    }
  }
}

.create_container {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: var(--secondary-font);
    font-size: 2em;
    text-align: center;
  }

  .message {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 1.2em;
    color: red;
  }


  .form_container {
    background-color: powderblue;
    border: 3px solid rgb(83, 171, 230);
    box-shadow: -30px 30px 0px 1px #ffff;
    border-radius: 20px;
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form_quiz {
      width: 80%;
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-family: var(--secondary-font);
      font-weight: 700;
      font-size: 1.2em;

      input {
        height: 2rem;
        font-size: 1em;
      }

      textarea {
        font-size: 1em;
        font-family: var(--secondary-font);
        height: 30%;
      }
    }


    button {
      align-self: center;
      background-color: var(--secondary-color);
      color: white;
      font-size: 16px;
      font-weight: 700;
      border: none;
      border-radius: 20px;
      width: 10.5rem;
      height: 2rem;
      cursor: pointer;
    }
  }
}