.quiz_container {
  width: 80%;
  min-height: 80vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .quiz_game_card {
    background-color: var(--primary-color);
    border: 8px solid white;
    border-radius: 2em;
    max-width: 40vw;
    min-height: 60vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2,
    p,
    button {
      font-family: var(--secondary-font);
    }

    .play {
      font-size: 1.2rem;
      font-weight: 700;
      width: 10rem;
      height: 2.5rem;

      background-color: #0a0a79;
      color: white;
      cursor: pointer;
      border: none;
      border-radius: 20px;
    }

    .play:hover {
      background-color: #2e2bfc;
    }
  }
}